<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOP</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="top-wrapper">
      <div class="container">
      <img src="Users/kougonaoto/Downloads/main_s.jpeg">
      <h1>お客様のご来園状況を教えてね！</h1>
        <div class="person">
          <a class="adult">大人（中学生以上）</a>
          <textrea name="1"></textrea>
          <a class="kids">小人（小学生以上）</a>
          <textrea name="2"></textrea>

          <div class="btn-wrapper">
            <a href="#" class="btn signup">追加</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>