<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>RESULT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="org.css" rel="stylesheet" media="screen">
</head>
<body>

<!-- content -->
<div id="content">
  <div class="container">

    <!-- 上の部分 -->
    <div class="row">
      <div class="col-md-1">
        <%= image_tag  "/main_s.jpeg" %>
      </div>
      <div class="col-md-11">
        <h1 class="title">お客様のご来園状況を教えてね！</h1>
      </div>
    </div>

    <!-- 人数入力 -->
    <div class="row">
      <div =class="col-md-12">
        <div class="adult">
          ◯ 大人（中学生以上）
          <input type="text" name="texe1">
          人
        </div>
        <div class="child">
          ◯ 小人（小学生以下）
          <input type="text" name="text2">
          人
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>