/*TOPメニュー*/

.navbar{
  border-radius: 0;
  border: none;
  background-color: green; /* ベース基調となる濃い青 */
}

.navbar-default .navbar-nav >li > a{
  color: #fff;
}

.navbar-default .navbar-nav >li > a:hover{
  color: #aaa;
}

.TOP {
  font-size:25px;
  text-align:center;
  padding:5px 0;
}

/* コンテンツ */
.text-box{
  margin-bottom: 20px;
}

.panel{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2;
}

.panel-header{
  text-align: center;
  padding-top: 10px;
  height: 40px;
  background-color: #ccc;
  color: #333;
}

.panel-body{
  height: 180px;
}

.img-box{
  text-align: center;
  margin-bottom: 10px;
}

.box-img{
  width: 100%;
}

/* フッター */

#footer{
  margin-top: 20px;
  padding: 30px 0;
  background-color: green;
  color: #fff;
}

.HP {
  font-size:25px;
  text-align:center;
  color: #fff;
}

.ABOUT {
  font-size:25px;
  text-align:center;
  color: #fff;
}

.title {
  text-align:center;
  padding:40px 0;
}

/* 人数入力 */
.adult {
  font-size: 30px;
}

.child {
  font-size: 30px;
}

.btn1 {
  text-align:center;
  padding:40px 0;
}