<!-- footer -->
<div  id="footer">

    <!-- footer nav -->
    <ul class="navbar-nav list-inline">
        <li class="HP">
       　 <a href="https://t-doitsumura.co.jp/">公式HP</a>
        </li>
        <li class="ABOUT">
          <%= link_to "ページ紹介",   about_path %>
        </li>
    </ul>

</div>
<!-- end footer -->