<footer class="footer">
  <small>
    <a href="https://t-doitsumura.co.jp/">公式HPはこちらから</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "当ページ紹介",   about_path %></li>
    </ul>
  </nav>
</footer>